<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1>
            <span *ngIf="selectedWidget; else prompt">
              Editing {{originalName}}
            </span>
        <ng-template #prompt>Select a widget</ng-template>
      </h1>
    </mat-card-title>
  </mat-card-header>
  <form novalidate #widgetForm="ngForm" (submit)="saved.emit(selectedWidget)">
    <mat-card-content>
      <mat-input-container class="full-width">
        <input
          [(ngModel)]="selectedWidget.name"
          matInput
          name="name"
          id="name"
          required
          class="full-width"
          placeholder="Enter a name">
      </mat-input-container>
      <mat-input-container class="full-width">
        <input
          [(ngModel)]="selectedWidget.description"
          matInput
          name="description"
          id="description"
          required
          class="full-width"
          placeholder="Enter a description"
        >
      </mat-input-container>
    </mat-card-content>
    <mat-card-actions>
      <button type="submit" [disabled]="!widgetForm.valid" mat-button>Save</button>
      <button type="button" mat-button (click)="cancelled.emit()">Cancel</button>
    </mat-card-actions>
  </form>
</mat-card>
